body {
  background: #2a2c76;
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: calibri;
}

.container {
  background: white;
  width: 300px;
  min-height: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.container .title {
  font-size: 18px;
  font-weight: 600;
  color: #17275c;
}

.input-box {
  position: relative;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.todo-box {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 90%;
  height: 30px;
  border-radius: 20px;
  border: 0;
  outline: none;
  background-color: #ecedef;
  padding-left: 15px;
  font-size: 9px;
}

.button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 32px;
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: 9px;
  background-color: #ff643b;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.button:hover {
  opacity: 0.8;
  transition: 0.25s ease-in-out;
}

.delete {
  font-weight: bold;
  padding: 3px;
  font-size: 8px;
  color: gray;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.delete:hover {
  color: red;
  transition: 0.25s ease-in-out;
}

.todo-name {
  font-size: 10px;
}

.todo-checkbox-name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  border-radius: 100%;
}
